// Custom Color
$primary-color: #2E3D50;
$primary-color-light: #495A6F;
$contrast-color: #E19247;
$secondary-color: #DCB589;
$secondary-color-light: #C3CFC3;

// Static Color
$WHITE: #FFFFFF;
$BLACK: #000000;
