@import './globalVariable.scss';

.nav {
    display: flex;
    // Logo
    & > div{
        margin: 1rem;
        margin-top: 2rem;
        &:first-of-type {
            flex: 2;
            max-width: 20rem;
            min-width: 100px;
            margin-right: 0rem;
            display: grid;
            place-items: center;
            cursor: pointer;
        }

        // Search bar
        &:nth-of-type(2) {
            flex: 6;
            background-color: $primary-color-light;
            border-radius: 0.5rem;
            height: 3rem;
            margin-left: 7.5vw;
            margin-right: 5vw;
        }
        
        // Other
        &:last-of-type {
            flex: 1;
            min-width: 80px;
            margin-left: 0px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            & > div {
                font-size: 15px;
                margin-left: 10px;
                display: inline;
            }
        }
    }
}

@media only screen and (max-width: 1300px){

    .nav {
        display: flex;
        // Logo
        & > div{
            margin-top: 1rem;
            // Other
            &:last-of-type {
                & > div {
                    font-size: 12px;
                }
            }
        }
    }
}