@import './globalVariable.scss';

.post {
    background-color: $primary-color-light;
    margin-top: 2rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    min-height: 100px;
    padding: 1rem;
}

.postBot {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    background-color: $primary-color-light;
    padding: 1rem;
    border-top: solid $WHITE 1px;
    & > div {
        padding: 1rem;
        display: inline;
        font-size: 1.25rem;
        margin: 2rem;
    }
}