@import './globalVariable.scss';


// Question Post
.postQ {
    background-color: $primary-color-light;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    margin-top: 2rem;
    border-radius: 0.25rem;
    & > div {
        flex: 1;
        &:first-of-type{
            display: grid;
            border-radius: 1.5rem;
            border: solid $WHITE 2px;
            margin: 2rem;
            font-size: 1.5rem;
            padding: 1rem;
        }
        &:last-of-type {
            display: flex;
            margin: 2rem;
            margin-top: 0px;
            font-size: 1rem;
            & > span {
                flex: 1;
                max-width: 100px;
                // This part needs to decreases for smaller screen
                margin-left: 1rem;
            }
        }
    }
}